<%- include('partials/header',{title: "Admin Dashboard" }); -%>
    <%- include('editor',{title: "Create" }); -%>
        <button class="btn btn-warning col-3 me-3" id="draftBtn" type="submit" onclick="saveDraft()">Save as
            Draft</button>
        <button class="btn btn-primary col-3" id="submitBtn" type="submit">Save Post</button>
        </div>
        </div>
        </form>
        </div>

        <!-- Include stylesheet -->
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

        <style scoped>
            #editor-container {
                height: 40vh;
            }
        </style>

        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="/admin/assets/js/create_blog.js"></script>

        </div>
        <%- include('partials/footer'); -%>