<%- include('partials/header'); -%>

    <!-- Hero -->
    <section id="slider" class="hero p-0 odd featured">
        <div class="swiper-container no-slider slider-h-75">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">

                    <img src="assets/images/bg-4.jpg" class="full-image" data-mask="70">

                    <div class="slide-content row text-center">
                        <div class="col-12 mx-auto inner">
                            <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">Gallery
                            </h1>
                            <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active"><a href="gallery">Gallery</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid -->
    <section id="portfolio-grid" class="section-1 hero featured odd showcase portfolio blog-grid filter-section">
        <div class="overflow-holder">
            <div class="container">
                <div class="row text-center intro">
                    <!-- <div class="col-12">
                        <h2 class="mb-0 super effect-static-text">What We Do</h2>
                    </div> -->
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col-12">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn active">
                                <input type="radio" value="all" checked="" class="btn-filter-item">
                                <span>All</span>
                            </label>
                            <label class="btn">
                                <input type="radio" value="design-thinking" class="btn-filter-item">
                                <span>Open Mic</span>
                            </label>
                            <label class="btn">
                                <input type="radio" value="branding" class="btn-filter-item">
                                <span>In News</span>
                            </label>
                            <label class="btn">
                                <input type="radio" value="photography" class="btn-filter-item">
                                <span>Achievements</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="vk-gallery" class="gallery row items filter-items">
                    <div data-src="assets/images/news-1-h.jpg" class="col-12 col-md-6 col-lg-4 item filter-item"
                        data-groups='["technology","digital-marketing","photography"]'>
                        <div class="row card p-0 text-center">
                            <div>
                                <a href="assets/images/news-1-h.jpg" class="image-over">
                                    <img src="assets/images/news-1-h.jpg" alt="Lorem ipsum">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-src="assets/images/news-2-h.jpg" class="col-12 col-md-6 col-lg-4 item filter-item"
                        data-groups='["technology","branding"]'>
                        <div class="row card p-0 text-center">
                            <div>
                                <a href="assets/images/news-2-h.jpg" class="image-over">
                                    <img src="assets/images/news-2-h.jpg" alt="Lorem ipsum">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-src="assets/images/news-4-h.jpg" class="col-12 col-md-6 col-lg-4 item filter-item"
                        data-groups='["design-thinking","digital-marketing","photography"]'>
                        <div class="row card p-0 text-center">
                            <div>
                                <a href="assets/images/news-4-h.jpg" class="image-over">
                                    <img src="assets/images/news-4-h.jpg" alt="Lorem ipsum">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-src="assets/images/news-5-h.jpg" class="col-12 col-md-6 col-lg-4 item filter-item"
                        data-groups='["design-thinking","branding"]'>
                        <div class="row card p-0 text-center">
                            <div>
                                <a href="assets/images/news-5-h.jpg" class="image-over">
                                    <img src="assets/images/news-5-h.jpg" alt="Lorem ipsum">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-src="assets/images/news-6-h.jpg" class="col-12 col-md-6 col-lg-4 item filter-item"
                        data-groups='["design-thinking","branding","photography"]'>
                        <div class="row card p-0 text-center">
                            <div>
                                <a href="assets/images/news-6-h.jpg" class="image-over">
                                    <img src="assets/images/news-6-h.jpg" alt="Lorem ipsum 6">
                                </a>
                            </div>
                            <div class="card-caption col-12 p-0">
                                <div class="card-body">
                                    <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-1 filter-sizer"></div> -->
                </div>

            </div>
        </div>
    </section>

    <%- include('partials/footer'); -%>